@model Budgets.View_Model.CreateAccountViewModel

<h1>Edit Account</h1>
<form asp-controller="Account" asp-action="Edit" method="post">
    <div class="form-group">
        <input name="id" value="@Model.Account.Id" />
    </div>

    <div class="form-group">
        <label asp-for="Name">Account Name</label>
        <input asp-for = "Name" value="@Model.Account.Name"/>
        <span asp-validation-for="Name"></span>
    </div>

    <br />

    <div class="form-group">
        <label asp-for="TotalMoney">Total Balance</label>
        <input asp-for="TotalMoney" value="@Model.Account.TotalMoney"/>
        <span asp-validation-for="TotalMoney"></span>
    </div>

    <br />
       <div class="form-group">
        <label asp-for="BudgetPerMonth">Monthly Budget</label>
        <input asp-for="BudgetPerMonth" value="@Model.Account.BudgetPerMonth"/>
        <span asp-validation-for="TotalMoney"></span>
    </div>

    <br />
      <div class="form-group">
        <label asp-for="MonthlyIncome">Monthly Income</label>
        <input asp-for="MonthlyIncome" value="@Model.Account.MonthlyIncome"/>
        <span asp-validation-for="MonthlyIncome"></span>
    </div>

    <br />



    <input type="submit" value="Update Account" />

</form>
